@model Lucky_Draw_Promotion.Models.Account.EmailHelper

@{
    ViewData["Title"] = "Forgot Password";

}

 
@*<form asp-action="ForgotPassword" method="post">
    <div class="form-group">
        <label>Email</label>
        <input name="email" class="form-control" />
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>*@
<body>
 <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="~/images/img-02.png" alt="IMG">
				</div>

				<form class="login100-form validate-form" asp-action="ForgotPassword" method="post">
					<span class="login100-form-title">
						Forgot Password
					</span>
					<div class="text-center ">
						<a class="txt2">
							Enter registered e-mail to get the email with further instructions							
						</a>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input name="email"  class="input100" type="text"  placeholder="Email">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>											
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Send Request
						</button>
					</div>											 
				</form>
			</div>
		</div>
	</div>
	

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

	
</body>

