@{
    ViewData["Title"] = "ForgotPasswordConfirmation";

}
<body>
	 <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="~/images/img-02.png" alt="IMG">
				</div>
				<form class="login100-form validate-form">
					<span class="login100-form-title">
						Forgot Password
					</span>
					<div class="text-center ">
						<h5>
							Xác nhận của bạn đã được gửi. Vui lòng kiểm tra Email của bạn.			
						</h5>						
					</div>
				</form>
			</div>
		</div>
	</div>
	
</body>

