@model Lucky_Draw_Promotion.Models.Account.UserLoginModel;
@using Microsoft.Extensions.Options
@inject IOptions<Lucky_Draw_Promotion.Models.GoogleCaptchaConfig> GoogleCaptchaConfig

@{
    ViewData["Title"] = "Login";

}
<body>
 <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="images/img-02.png" alt="IMG">
				</div>

				<form   asp-action="Login" asp-route-returnUrl="@ViewData["ReturnUrl"]">
					<div asp-validation-summary="ModelOnly" class="login100-form validate-form"></div>
			
					<span class="login100-form-title">
						Login
					</span>

					<div class="wrap-input100 validate-input" @*data-validate = "Valid email is required: ex@abc.xyz"*@>
						<input asp-for="Email" class="input100" type="email"   placeholder="Email">
						<span asp-validation-for="Email" class="text-danger"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" @*data-validate = "sai passs"*@ >
						<input asp-for="Password" class="input100" type="password"   placeholder="Password">
						<span asp-validation-for="Password" class="text-danger"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
						
					</div>
					
					<div class="container-login100-form-btn">
						<input type="submit" value="Login" class="login100-form-btn">
							 
					 
					</div>

					<div class="text-center p-t-12">
						<span class="txt1">
							Forgot
						</span>
						<a class="txt2" asp-action="ForgotPassword" asp-controller="Account" >
							Password ?
						</a>
					</div>

				
				</form>
			</div>
		</div>
	</div>
	
	<script src="https://www.google.com/recaptcha/api.js?render=@GoogleCaptchaConfig.Value.SiteKey"></script>

	<script>
			grecaptcha.ready(function() {
		    grecaptcha.execute('@GoogleCaptchaConfig.Value.SiteKey', {action: 'submit'}).then(function(token) {
              // Add your logic to submit to your backend server here.
			  console.log(token);
				 });
			});


	</script>
	@section scripts {
	}
</body>



