@model Lucky_Draw_Promotion.Models.Account.ResetPassword;
@{
    ViewData["Title"] = "ResetPassword";
}
<body>
 <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="~/images/img-02.png" alt="IMG">
				</div>
				<form class="login100-form validate-form" asp-action="ResetPassword" method="post">
					<span class="login100-form-title">
						Recover Password
					</span>
					<div class="text-center ">
						<a class="txt2">
							Set new password for your account						
						</a>
					</div>
					<div class="wrap-input100 validate-input" >
						<input asp-for="Password" class="input100" type="password" placeholder="New Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input asp-for="ConfirmPassword" class="input100" type="password"  placeholder="Confirm New Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
				    <input type="hidden" asp-for="Email" class="form-control" />
					<input type="hidden" asp-for="Token" class="form-control" />					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Change Password
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>

