@{
    ViewData["Title"] = "ResetPasswordConfirmation";

}
<body>
	 <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="~/images/img-02.png" alt="IMG">
				</div>
				<form class="login100-form validate-form">
					<span class="login100-form-title">
						Reset Password
					</span>
					<div class="text-center ">
						<h5>
							Mật khẩu của bạn đã được thay đổi. Hãy quay lại đăng nhập			
						</h5>
						<br />
						<a asp-action="Login" style="color:red;font-weight:bold" > LOGIN </a>					
					</div>
				</form>
			</div>
		</div>
	</div>
	
</body>

